# env
.env
.env.*

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# vscode
.vscode/

# mypy
.mypy_cache/

# alembic
alembic_tmp/
tests.zip
app.zip
migrations/versions/8b55c4f25242_fix_expense_replace_integer_for_float_.py
